{% load static %}
<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/index_style.css' %}">
  <link rel="icon" href="{% static 'images/logo.ico' %}" type="image/x-icon">
  <title>GM Veiculos - Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
  <header>
    <nav class="navbar navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
          aria-controls="offcanvasDarkNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
          aria-labelledby="offcanvasDarkNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Nossos Veículos</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
              aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="carro">Carros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="moto">Motos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="utilitarios">Utilitários</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Sobre o projeto
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item subtitle_nav_style" href="#">Curso Técnico SENAI 2023</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item subtitle_nav_style" href="#">Equipe:</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="https://www.linkedin.com/in/luizhenriqueccarvalho/">Luiz
                      Henrique Carneiro</a></li>
                  <li><a class="dropdown-item" href="https://www.linkedin.com/in/luizhenriqueccarvalho/">Kleyton
                      Carvalho</a></li>
                  <li><a class="dropdown-item" href="https://www.linkedin.com/in/vinicius-gomes-47b251229/">Vinicius
                      Gomes</a></li>
                  <li><a class="dropdown-item" href="https://www.linkedin.com/in/luizhenriqueccarvalho/">Ivana
                      Leonice</a></li>
                  <li><a class="dropdown-item" href="https://www.linkedin.com/in/luizhenriqueccarvalho/">Jéssica
                      Cordeiro</a></li>
                  <li><a class="dropdown-item" href="https://www.linkedin.com/in/luizhenriqueccarvalho/">Riquelme
                      Lobo</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <li class="nav-item">
          <a class="nav-link disabled text-bg-dark" style="margin-top: -25%; margin-left: 12px;">Veículos</a>
        </li>

        <a class="navbar-brand mx-auto titulo" href="home">
          <img src="{% static 'images/JM.png' %}" style="border-radius: 90px;" alt="Logo" width="40" height="35"
            class="d-inline-block align-text-top text-bg-dark ">
          Veículos
        </a>

        <li class="nav-item text-center">
          <a class="nav-link text-bg-dark titulo" style="margin-top: -12%;" aria-current="page" href="admin">Área do
            Administrador</a>
        </li>
      </div>
    </nav>
  </header>

  <main style="margin-top: 50px;">
    <img src="{% static 'images/section-nostalgia-bg.jpg' %}" alt="tristeza"
      style="margin-top: 10px;height: 450px; width: 100%;">
    <h1
      style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: rgb(255, 255, 255) !important; margin-top: -70px; margin-left: 27%; transition: 2s;">
      A história de um carro nunca termina...</h1>

    <h2 style="margin-top: 80px; margin-bottom: 40px;" class="text-center">Procure o carro dos sonhos ou venda o seu
      conosco!</h2>

    <div class="card-group container">
      <div class="card">
        <img src="{% static 'images/camaro.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center"
            style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Os clássicos nunca morrem
          </h5>
          <p class="card-text">Não importa o ano, todo modelo de carro terá uma legião de fãs que lhe desejam.</p>
          <p class="card-text"><small class="text-body-secondary">Chevrolet Camaro 1989</small></p>
        </div>
      </div>
      <div class="card">
        <img src="{% static 'images/uno.webp' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center"
            style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">O Custo Benefício perfeito
          </h5>
          <p class="card-text">Pegue um carro economico e foque no custo-benefício.</p>
          <p class="card-text"><small class="text-body-secondary">FIAT Uno 2006</small></p>
        </div>
      </div>
      <div class="card">
        <img src="{% static 'images/corolla.webp' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center"
            style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Ou um novíssimo 0KM</h5>
          <p class="card-text">Pegue o carro com o ano mais atualizado e tenha o melhor da tecnologia automobilísta
            aqui.</p>
          <p class="card-text"><small class="text-body-secondary">Toyota Corolla 2023</small></p>
        </div>
      </div>
    </div>

    <h2 style="margin-top: 120px; margin-bottom: 20px;" class="text-center">Nossos Depoimentos</h2>
    <div class="row container mx-auto" style="margin-bottom: 100px;">
      <div class="col-sm-3 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center"
              style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">⭐⭐⭐⭐⭐ <br> Maria
              Silva</h5>
            <p class="card-text">Comprei meu carro no JM Veículos e estou muito feliz! O processo foi fácil e rápido. O
              carro estava exatamente como descrito no anúncio. Recomendo a todos!</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center"
              style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
              ⭐⭐⭐⭐⭐ <br> Carlos Santos</h5>
            <p class="card-text">Fiquei impressionado com a variedade de carros no site JM Veículos. Encontrei o carro
              dos meus sonhos a um preço muito competitivo. A equipe de atendimento foi excelente. Valeu a pena!</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center"
              style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">⭐⭐⭐⭐ <br> Ana
              Oliveira</h5>
            <p class="card-text">Agradeço ao JM Veículos por me ajudar a encontrar o carro perfeito para minha família.
              O site é intuitivo, e a entrega foi pontual. Estou adorando meu novo carro!</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mb-5">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center"
              style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">⭐⭐⭐⭐⭐ <br> Pedro
              Rocha</h5>
            <p class="card-text">Minha experiência com o JM Veículos foi incrível. Encontrei um carro em ótimas
              condições e negociei um preço justo. A transação foi tranquila, e agora estou aproveitando meu novo
              veículo.</p>
          </div>
        </div>
      </div>

      <a href="https://www.instagram.com/_jm_veiculos_/" target="_blank" class="btn btn-primary btn-lg mt-5"
        style="background-color: rgb(255, 174, 0); border: none; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: x-large;">
        Acesse nossa conta no Instagram e tenha mais detalhes!<img src="{% static 'images/insta.png' %}" alt="Instagram"
          style="max-width: 70px; max-height: 70px;">
      </a>
    </div>



    <div class="d-flex justify-content-center align-items-center mb-5">
      <div>
        <div id="success-message" class="alert alert-success" style="display: none;">
          Cadastro Enviado com Sucesso!
        </div>

        <!-- Formulário para adicionar um cliente novo -->
        <div class="container-xl bg-dark text-light border rounded p-4">
          <h2 class="text-center">Ou fale conosco!</h2>
          <form id="contato-form" method="POST">
            <div class="mb-3">
              <label for="nome" class="form-label">Nome</label>
              <input type="text" class="form-control col-lg-8" id="nome" name="nome" required>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">E-mail</label>
              <input type="email" class="form-control col-lg-8" id="email" name="email" required>
            </div>
            <div class="mb-3">
              <label for="telefone" class="form-label">Telefone (apenas números)</label>
              <input type="tel" maxlength="15" class="form-control col-lg-8" id="telefone" name="telefone">
            </div>
            <div class="mb-3">
              <label for="mensagem" class="form-label">Mensagem</label>
              <textarea class="form-control col-12" id="mensagem" name="mensagem" rows="3" required></textarea>
            </div>
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <button type="submit" id="button" class="btn btn-primary">Enviar</button>
          </form>
        </div>
        <!-- O name="csrfmiddlewaretoken" e o value="{{ csrf_token }}" serve para proteger o site contra ataques CSRF -->

        <!-- Comando JavaScript para enviar uma mensagem quando o cadastro estiver concluído -->
        <script>
          document.addEventListener('DOMContentLoaded', function () {
            document.querySelector('#contato-form').addEventListener('submit', function (e) {
              e.preventDefault();
      
              // Verificar o campo de telefone
              const telefone = document.querySelector('#telefone').value;
              if (!/^\d+$/.test(telefone)) {
                alert('Por favor, insira um número de telefone válido.');
                return; // Impedir o envio do formulário
              }
      
              // Verificar o campo de e-mail
              const email = document.querySelector('#email').value;
              if (!isEmailValid(email)) {
                alert('Por favor, insira um endereço de e-mail válido em letras minúsculas.');
                return; // Impedir o envio do formulário
              }
      
              const formData = new FormData(this);
      
              fetch('/contato/', {
                method: 'POST',
                body: formData,
              })
                .then(response => {
                  if (response.ok) {
                    document.querySelector('#success-message').style.display = 'block';
                    document.querySelector('#contato-form').reset();
                  } else {
                    console.error('Erro no envio do formulário');
                  }
                })
                .catch(error => {
                  console.error('Erro no envio do formulário:', error);
                });
            });
          });
      
          // Função para verificar se o e-mail é válido (letras minúsculas)
          function isEmailValid(email) {
            return email.split('@').length === 2 && email === email.toLowerCase();
          }
        </script>


      </div>
    </div>
  </main>

  <footer class="container-fluid bg-dark text-white text-center py-3">
    <div class="container">
      <span class="d-block mb-1">
        <strong>JM Veículos</strong>
        <small>A sua concessionária de confiança</small>
      </span>
      <ul class="list-unstyled d-flex justify-content-center">
        <li class="me-3">
          <a href="home">Sobre</a>
        </li>
        <li class="me-3" target="_blank">
          <a href="https://api.whatsapp.com/send/?phone=54996732928&text&type=phone_number&app_absent=0">Contato</a>
        </li>
        <li class="me-3">
          <a href="politicas">Politica de privacidade</a>
        </li>
        <li class="me-3" target="_blank">
          <a href="https://github.com/Dom-Luiz-III/Concessionaria_Website_2.0/blob/main/LICENSE">Termos de uso</a>
        </li>
      </ul>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
</body>

</html>
